---
// @ts-nocheck

import { API_TM } from "../scripts/ticketmaster.js";
API_TM();
import SideBar from "../components/SideBar.astro";
import MainLayout from "../layout.astro/MainLayout.astro";


// const base = "https://bored-api.appbrewery.com";
// const endpoint = "/filter?type=education"

// const url = base + endpoint;
// const response = await fetch(url);
// const todos = await response.json();
// console.log(todos.length)

---

<MainLayout title="API Events">
	<SideBar />

		<div id="map"></div>

		<!-- <p>ik heb {todos.length}</p>
		<ul>
			{todos.map((todo) => <li>{todo.activity}</li>)}
		</ul> -->

</MainLayout>

