---
const url = "https://jsonplaceholder.typicode.com/posts";
const response = await fetch(url);
const todos = await response.json();
console.log(todos.length)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<p>hallo world, test</p>
		<p>ik heb {todos.length}</p>
		<ul>
			{todos.map((todo) => <li>{todo.title}</li>)}
		</ul>
	</body>
</html>
