---
// @ts-nocheck
// import { API_TM } from "../scripts/ticketmaster.js";
// API_TM();
import "/public/styles/style.css";
const { id, href, text } = Astro.props;
---
<aside id="eventSidebar" display="none">
    <p id="eventStandaard">Klik op een marker om info te zien</p>

    <img id="eventImage" src="" alt="Afbeelding van het evenement">

    <h1 id="eventTitle"></h1>

    <ul>
        <li>🎵 <span id="eventGenre"></span></li>
        <li>📍 <span id="eventVenue"></span></li>
        <li>🏙️ <span id="eventStad"></span></li>
        <li>🗺️ <span id="eventAdres"></span></li>
        <li>📅 <span id="eventDatum"></span></li>
        <li>🕐 <span id="eventTijd"></span></li>
    </ul>

    <a id="eventUrl" href="#" target="_blank">Koop tickets</a>
    <button id="favButton" >Add to Favorites</button>
    <a id="allDetails" >Alle Details !</a>
</aside>

<style>
    aside {
        background: #f5f0e8;
        border: 2px dashed black;
        padding: 1rem;
        border-radius: 8px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 999;
        height: 90%;
        width: 30%;
        overflow-y: auto;
        display: none;
        font-family: 'Bebas Neue', sans-serif;
        
        h1 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        ul {
            list-style: none;
            margin-bottom: 1rem;

            li {
                margin-bottom: 0.4rem;
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 6px;
            margin-bottom: 0.75rem;
            display: none;
        }

        a {
            margin-top: 1rem;
            color: black;
            border: 2px solid black;
            text-align: center;
            padding: 0.6rem;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
        }

        #favButton {
            margin-top: 0.5rem;
            border: 2px solid black;
            color: black;
            text-align: center;
            padding: 0.6rem;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            background: #f5f0e8;
        }

        #allDetails {
            margin-top: 0.5rem;
            color: black;
            border: 2px solid black;
            text-align: center;
            padding: 0.6rem;
            border-radius: 8px;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
            background: linear-gradient(135deg in hsl, #c8f0f8, #e8d5f5, #fde8c8, #d5f5e8, #c8d5f8);

        }
    }
</style>
