---
// @ts-nocheck
// import { API_TM } from "../scripts/ticketmaster.js";
// API_TM();
import "/public/styles/style.css";
const { href, text } = Astro.props;
---
<aside id="eventSidebar">
    <h1 id="eventTitle">Titel Event</h1>
    <img id="eventImage" src="/" alt="Foto van event" />
    <p id="eventDescription">Beschrijving van het event.</p>


    <ul>
        <li>Locatie: Amsterdam</li>
        <li>Datum: 15-03-2023</li>
        <li>Prijs: €25</li>
    </ul>
</aside>

<style>
    aside {
        background-color: rgb(255, 177, 177);
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 999;
        height: 90%;
        width: 30%;

        h1 {
            
        }

        ul {
            list-style: none;

            li {

            }
        }
    }
</style>
